@{
    ViewData["Title"] = "Heartrate Monitor Connected Device";
}

<div class="mobile-content">
    <table class="mobile-monitor">
        <tr>
            <td>
                <img src="~/images/reartrate.png" alt="bpm" />
            </td>
        </tr>
        <tr>
            <td>
                <div class="mobile-monitor-action">
                    <p style="margin-top:15%;">
                        <label id="lblbpm"></label>
                        <input type="hidden" id="bpm" value="100">
                    </p>
                    <div id="slider-range-min" class="ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content">
                        <div class="ui-slider-range ui-corner-all ui-widget-header ui-slider-range-min" style="width: 5.15021%;">
                        </div><span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 5.15021%;"></span>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div id="lblMessage" style="margin-top:30px;">&nbsp;</div>
                <input id="btnSend" type="button" value="Start Sending Data" class="btn-custom" />
            </td>
        </tr>
    </table>
</div>

@section Scripts{
    <script type="text/javascript">
        var urlAction = '/HRMonitor/SendData';
        var isSentData = false, httpRequestLimit = 30, httpRequestCount = 0;
        var startProcess, btnText, btnBgColor, btnForeColor;
        var isSliderChangeStatusShown = false;

        $(function () {
            $('#spinner').hide();
            $("#lblbpm").text('Standing Heartrate:' + $("#bpm").val() + ' bpm');

            $("#slider-range-min").slider({
                range: "min",
                value: 100,
                min: 100,
                max: 200,
                slide: function (event, ui) {
                    $("#lblbpm").text('Heartrate Goal:' + ui.value + ' bpm');
                    $("#bpm").val(ui.value);

                    $('#lblMessage').css({
                        'background-color': '#f7f7f7', 'color': 'black',
                        'padding': '2px',
                        'text-align': 'center'
                    }).html(($('#btnSend').attr('value') == "Start Sending Data" ? "Please click Start Sending Data" : "Measuring Heartrate..."));
                    isSliderChangeStatusShown = true;
                }
            });

            $('#btnSend').on('click', function (e) {
                isSentData = !isSentData;
                btnText = btnBgColor = btnForeColor = undefined;
                httpRequestCount = 0;
                isSliderChangeStatusShown = false;
                if (isSentData && startProcess == undefined) {
                    $('#lblMessage').css({
                        'background-color': '#f7f7f7', 'color': 'black',
                        'padding': '2px',
                        'text-align': 'center'
                    }).html('Measuring current Heartrate...');
                    startSendingData();
                    startProcess = setInterval(function () { startSendingData() }, 3000);
                }
                else {
                    stopSendingData();
                }
            });
        });

        function stopSendingData() {
            isSentData = false;
            httpRequestCount = 0;
            isSliderChangeStatusShown = false;
            if (startProcess) {
                clearInterval(startProcess);
                startProcess = undefined;
            }
            if ($) {
                $('#btnSend').attr('value', 'Start Sending Data');
                $('#lblMessage').css({ 'background-color': '' }).html('&nbsp;');
                $('#spinner').hide();
            }
        }

        function startSendingData() {
            if (startProcess && isSentData)
                return;

            isSentData = true;
            httpRequestCount++;
            if (isSentData && $ && $("#bpm").val().length > 0) {
                $('#btnSend').attr('value', (isSentData ? 'Stop Sending Data' : 'Start Sending Data'));
                var bpmVal = parseInt($("#bpm").val());
                $('#spinner').hide();

                $.post(urlAction, { heartRate: bpmVal }, function (data) {
                    isSentData = false;
                    $('#spinner').hide();
                    if (data) {
                        console.log(data);
                        if (data.indexOf("Done") != -1 || httpRequestCount == httpRequestLimit) {
                            isSliderChangeStatusShown = false;
                            btnBgColor = "#f7f7f7";
                            btnForeColor = "black";
                            btnText = "Click to Continue";
                            stopSendingData();
                        }
                        else if (data.indexOf("Exercise More") != -1) {
                            isSliderChangeStatusShown = false;
                            btnBgColor = "#339ed2";
                            btnForeColor = "white";
                            btnText = "Increase your BPMs";
                        }
                        else if (data.indexOf("Take a Break") != -1) {
                            isSliderChangeStatusShown = false;
                            btnBgColor = "#c52d3a";
                            btnForeColor = "white";
                            btnText = "Max Heartrate…Take a Break";
                        }
                        else if (data.indexOf("Keep Exercising") != -1) {
                            isSliderChangeStatusShown = false;
                            btnBgColor = "#3c9855";
                            btnForeColor = "white";
                            btnText = "Perfect Heartrate Range!!";
                        }
                    }

                    if (btnText && btnBgColor && btnForeColor) {
                        $('#lblMessage').css({
                            'background-color': btnBgColor, 'color': btnForeColor,
                            'padding': '2px',
                            'text-align': 'center'
                        }).html(btnText);
                        return;
                    }
                    else if (!isSliderChangeStatusShown) {
                        if (httpRequestCount != 0) {
                            $('#lblMessage').css({
                                'background-color': '#f7f7f7', 'color': 'black',
                                'padding': '2px',
                                'text-align': 'center'
                            }).html('Measuring current Heartrate...');
                        }
                        else {
                            $('#lblMessage').css({ 'background-color': '' }).html('&nbsp;');
                        }
                    }
                });
            }
        }
    </script>
}